<div class="card">
    <div class="card-header">
      <h2>Create new item</h2>
    </div>
    <div class="card-body">
        <form>
            <div class="form-group">
              <label>Name </label>
              <input type="text" class="form-control" placeholder="Enter Name">
            </div>
            <div class="form-group">
              <label>SellIn</label>
              <input type="number" class="form-control" placeholder="Enter SellIn">
            </div>
            <div class="form-group">
                <label>Quality</label>
                <input type="number" class="form-control" placeholder="Enter Quality">
              </div>
            <button type="submit" class="btn btn-primary">Submit</button>
          </form>
    </div>
  </div>


